---
import Layout from '../layouts/Layout.astro';
import Bio from '../components/Bio.astro';
---

<Layout title="About - Drum Studio">
	<main>
		<h1>About</h1>
		<h4>ROSINA SCAMPINO, DRUM INSTRUCTOR</h4>
		<div class="bio-section">
			<Bio />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h4 {
		font-weight: 300;
		letter-spacing: 1px;
		margin: 0;
	}
</style>
