---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Lesson Policies - Drum Studio">
	<main>
		<h1>Lesson Policies</h1>
        <p>This is the Lesson Policies page.</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
