<div class="bio-content">
    <p>I was born into a musical family in Rosario, Argentina and started playing drums in middle school. I quickly became fascinated by the rhythmic aspect of music and the colorful possibilities of the drum set, and decided to pursue a career in music. I performed and taught in Argentina for over a decade, including a position as an assistant professor at the University of Rosario.</p>

    <p>In 2015, I moved to the United States to attend Berklee College of Music in Boston, MA. There, I completed a BM in Music Performance, and an MM in Contemporary Jazz on a full scholarship. During that time, I had the privilege of studying under incredible musicians like Bob Gullotti, Casey Scheuerell, Ed Saindon, John Patitucci, and Terri Lyne Carrington.</p>

    <p>In 2025, I settled in Shoreview with my husband (a Saint Paulite) and our toddler daughter (a Bostonian quickly picking up “you betcha” and “ope”). After being immersed in family life for the past couple of years, I am excited to resume teaching! Whether you are a complete beginner or picking up the sticks again after years away, I am dedicated to helping you reach your musical goals. Don’t hesitate to reach out!</p>
</div>

<style>
    .bio-content p {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
    }
</style>
