<div class="bio-content">
    <p>I was born into a musical family in Rosario, Argentina, and started playing drums in middle school. I quickly became fascinated by the rhythmic aspect of music and the colorful possibilities of the drum set, which led me to pursue musical studies. I performed and taught in Argentina for over a decade, including a position as an assistant professor at the University of Rosario.</p>

    <p>In 2015, a scholarship brought me to Boston, MA, to attend Berklee College of Music. There, I completed a BM in Music Performance and an MM in Contemporary Jazz, and I had the privilege of studying under legendary musicians like Bob Gullotti, Casey Scheuerell, Ed Saindon, John Patitucci, and Terri Lyne Carrington. While living on the East Coast, I performed in a variety of ensembles, traveled to play at the Bern Jazz Festival in Switzerland, recorded a suite of original compositions, and even coded a custom app (<a href="https://stickingsbuilder.app/" target="_blank" style="color: #ccc; text-decoration: none;">stickingsbuilder.app</a>) to help drummers practice their sticking routines.</p>

    <p>In 2025, I settled in Shoreview with my husband (a Saint Paulite) and our toddler daughter (a Bostonian quickly picking up “you betcha” and “ope”). After being immersed in family life for the past couple of years, I am excited to resume teaching and connect with students and families in the area. Whether you are a complete beginner or picking up the sticks again after years away, I am dedicated to helping you reach your musical goals. Don’t hesitate to reach out!</p>
</div>

<style>
    .bio-content p {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
    }
    
    /* Responsive Styles */
    @media (max-width: 768px) {
        .bio-content p {
            font-size: 1rem;
        }
    }
</style>
